.card {
    max-width: 350px;
    height: 367px;
    background-color: var(--white);
    border-radius: 8px;
    flex: 1 1 350px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-flow: row wrap;
    text-decoration: none;
}

.card__text {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black); 
}


