/* Стилизация аккордеона */
.accordion__item {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 32px 24px;
}

.accordion__summary {
    font-family: 'Inter';
    display: block;
}

.accordion__text {
    padding-top: 16px;
    color: var(--grey-4);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
}

.accordion__item[open] .accordion__summary {
    margin-bottom: 0.5em;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}
