#modal-open {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 15px 51px 14px;
    height: 48px;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--blue);
    position: relative;
    top: 50%;
}

#modal {
    display: none;
    width: 100%;
    height: 100%;
}

.modal__gray-rectangle {
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    opacity: 0.5; 
}

.modal__white-rectangle {
    width: 376px;
    height: 249px;
    background-color: var(--white);
    border-radius: 8px;
    padding: 12px 12px 33px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 28px;
    grid-template-rows: 54px 1fr;
    place-items: end start;
}

.modal__white-rectangle_title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    color: #334D6E;
    align-self: center;
}

#modal-close {
    background-color: var(--white);
    border: none;
    padding: 0px;
    place-self: start end;
    cursor: pointer;
}

.modal__white-rectangle_text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-4);
}