.histogram {
    padding: 16px 24px 24px 26px;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--grey-3);
    background-color: var(--white);
}

.histogram__text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.histogram__text_title {
    font-family: "Inter", sans-serif;
    color: var(--black);
    opacity: 80%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
    flex-basis: 60%;
    
}

.histogram__text_link {
    font-family: "Inter", sans-serif;
    color: #4263EB;
    text-decoration: none;
    font-size: 16px;
    padding-top: 3px;
    line-height: 24px;
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    
}

.histogram__number {
    font-family: "Inter", sans-serif;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px;
}

.histogram__columns {
    height: 50px;
    margin-top: 39px;
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.histogram__column {
    background-color: #4263EB;
    flex-grow: 1;
}

