.skeleton {
    max-width: 579px;
    height: 136px;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--grey-3);
    padding: 24px 40px 32px 24px;
    display: flex;
    flex-wrap: wrap;
}

.skeleton__ellipse {
    background-color: var(--grey-3); 
    height: 64px;
    flex-basis: 64px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.skeleton__small-container {
    padding-top: 8px;
    max-height: 48px;
    display: flex;
    flex-basis: 257px;
    flex-flow: row wrap;
    padding-left: 16px;
}

.skeleton__rectangle {
   background-color: var(--grey-3);
   height: 20px;
   flex-basis: 100%;
}

.skeleton__rectangle_rectangle-small {
    flex-basis: 172px;
}