.tooltip {
    display: inline-block;
    position: relative;
    top: 50px;
    left: 50px;
}

.tooltip__bubble {
    display: none;
    width: 88px;
    padding: 13px 21px 8px;
    background-color: #4263EB;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-2);
    border-radius: 8px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__bubble::before{
    content: '';
    border: 10px solid transparent;
    position: absolute;
    border-top-color: #4263EB;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}