.footer {
    background-color: var(--white);
}

.footer__inner {
    background-color: #F9FAFC;
}

.footer__container {
    padding-top: 51px;
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.footer__about {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 16px;
}

.footer__text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 60px;
    margin-top: 0px;
    color: #212429;
}

.footer__reusable {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: var(--grey-3);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .footer__container {
        padding-top: 61px;
    }
    
    .footer__about {
        font-size: 32px;
        font-weight: 500;
        line-height: 44px;
        margin-bottom: 32px;
    }

    .footer__text {
        font-weight: 500;
        padding: 0 200px;
        margin-bottom: 100px;
    }

    .footer__reusable {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__container {
        padding-top: 71px;
    }
    
    .footer__about {
        font-size: 38px;
        font-weight: 500;
        line-height: 48px;
        margin-bottom: 32px;
    }
    
    .footer__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 235px;
        margin-bottom: 136px;
    }

    .footer__reusable {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}




