.checkbox {
    display: block;
    position: relative;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    left: -100vw;
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var( --grey-4);
}


.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background-color: #4263EB;
    border-color: #4263EB;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input[disabled] ~ .checkbox__state .checkbox__control {
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input[disabled] ~ .checkbox__state .checkbox__title {
    color: var( --grey-2);
}

.checkbox__input[disabled] ~ .checkbox__state .checkbox__control .checkbox__control_img {
    display: none;
}