.burger-menu__icon {
    border: none;
    background-color: #F9FAFC;
}

.burger-menu__icon-close {
    width: 32px;
    height: 32px;
    background-color: var(--grey-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F9FAFC;
    transform: translateX(-100vw);
    transition: transform 500ms linear;
}

.burger-menu__header {
    display: grid;
    grid-template-columns: 56px 1fr;
    place-items: center;
    min-height: 64px;
}

.burger-menu__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #ACB5BD;
}

.burger-menu__container {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212429;
}

.burger-menu__elem {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.burger-menu__elem_separate {
    margin-top: 56px;
}

.burger-menu__elem_active {
    color: #D84910;
}

.burger-menu[data-open] {
    transform: translateX(0);
}

.burger-menu__underline {
    height: 1px;
    background: #DDE2E5;
}


@media screen and (min-width: 1000px) {
    .burger-menu {
        display: none;
    }
}
