.menu {
    display: block;
    width: 343px;
    height: 100vh;
    background-color: #F9FAFC;
}

.menu__summary::-webkit-details-marker {
    display: none;
}

.menu__summary {
    height: 40px;
}

.menu__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #ACB5BD;
}

.menu__elements {
   display: flex;
   flex-flow: column wrap;
   gap: 4px;
   justify-content: flex-start;
}

.menu__elements_elem {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

@media screen and (min-width: 768px) {
    .menu {
        display: block;
        width: 343px;
        height: 100vh;
        background-color: #F9FAFC;

    }

    .menu__summary::-webkit-details-marker {
        display: none;
    }

    .menu__summary {
        height: 40px;
    }

    .menu__title {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 16px;
        color: #ACB5BD;
    }
    
    .menu__elements {
       display: flex;
       flex-flow: column wrap;
       gap: 4px;
       justify-content: flex-start;
    }

    .menu__elements_elem {
        margin: 0px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--black);
    }
    
}

@media screen and (min-width: 1280px) {
    .menu {
        display: block;
        width: 229px;
    }
    
    .menu__title {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #000000;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    
    .menu__elements {
       display: flex;
       flex-flow: column wrap;
       gap: 4px;
       justify-content: flex-start;
    }
    
    .menu__elements_elem {
        margin: 0px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--black);
    }
    
    .menu__elements_elem_active {
        color: #D84910;
    }
    
    .menu__elements_elem_empty {
        height: 22px;
    }

}