.menu {
    display: block;
    width: 343px;
    height: 100vh;
    background-color: #F9FAFC;
}

details > summary {
    list-style: none;
}
  
details > summary::-webkit-details-marker {
    display: none;
}

.menu__summary {
    height: 40px;
    cursor: pointer;
}

.menu__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #ACB5BD;
}

.menu__elements {
   display: flex;
   flex-flow: column wrap;
   gap: 4px;
   justify-content: flex-start;
}

.menu__elements_elem {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.menu__close {
    display: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--gray-2);
}

.menu__open {
    display: block;
    height: 24px;
    width: 24px;
}

.header__menu[open] .menu__close {
    display: block;
}

.header__menu[open] .menu__open {
    display: none;
}

@media screen and (min-width: 1280px) {
    .menu {
        display: block;
        width: 229px;
    }
    
    .menu__elements_elem_active {
        color: #D84910;
    }
    
    .menu__elements_elem_empty {
        height: 22px;
    }
  
    .header__menu {
        display: none;
    }
}