.container {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    column-gap: 50px;
    row-gap: 20px;
}

.input__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
    display: block;
}

.input {
    width: 350px;
    height: 56px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding-left: 24px;
    position: relative;
}

.input::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.input:focus {
    outline: none;
    border-color: #4263EB;
}

.input:focus::placeholder {
    color: var(--grey-4);
}

.input__img_success {
    z-index: 1;
    position: absolute;
    top: 140px;
    left: 340px;
}

.input__img_invalid {
    z-index: 1;
    position: absolute;
    top: 140px;
    left: 750px;
}

.input_success {
    width: 350px;
    height: 56px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding-left: 24px;
    position: relative;
}

.input_success::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.input_invalid {
    width: 350px;
    height: 56px;
    border: 1px solid #F03D3E;
    border-radius: 8px;
    padding-left: 24px;
    position: relative;
}

.input_invalid::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.input_success:focus {
    outline: none;
}

.input_invalid:focus {
    outline: none;
}